body
{
    background-image: url("imeges/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 

}

.card:hover {
    animation: bounce 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
#head
{
    width: 100%x;
    height:490px;
    /* border: 2px solid red; */
/*     
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

    
}
#heading
{
    margin-top: 200px;
    max-width: 600px;
    font-size:50px;
    font-weight: 900;
    line-height: 1.25;
    font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif!important;
}
#para
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif!important;
    
}
#button
{
    width: 200px;
    height: 50px;
    padding: 10px;
}
#text
{
    font-weight: bold;
}
#img1
{
    width: 500px;
    height: 400px;
    margin-top: 150px;
    float:left;
    margin-right: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#img1:hover{
    /* -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 500ms linear;  */
  transform: scale(1.1);
}
#card1
{
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}
.card
{
    height: 300px;
}
.card-title
{
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif!important;
    text-decoration: underline;
}
.card-text
{
    margin-left: 30px;
}
#button1
{
    margin-left: 50px;
}

#main
{
    height:300px ;
    /* block-size: auto; */
    background-color: aliceblue;
}
#h1
{
    
    line-height: 1.25;
    font-size: 40px;
    margin-left: 1.5rem;
    
font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif!important;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
margin-left: 300px;
font-weight: bold;


}
#p
{
    margin-left: 300px;
    /* font-weight: bold; */
    font-size: 20px;
}
#main2
{
    margin-left: 150px;
    margin-right: 150px;
}
#main2 .card
{
    /* margin-left: 30px; */
    background-color: white;
    border: none;
}

#card2
{
display: inline-block;
}
#img3
{
    float: left;
}

#text2
{
    font-weight: bold;
    font-size: 25px;
    margin-left: 8px;
}

#new
{
    font-size: 20px;
    margin-left: 8px;
}
#button2
{
    width: 200px;
    margin-left: 200px;
    padding: 15px;
    float: left;
}
#text3
{
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
}

#last
{
    width: 100%;
    height: 600px;
}
.last1
{
    float: left;
}
.range
{
    float: left;
    background-color: blue;
}

#img6
{
    width: 800px;
    height: 500px;
}
#cleaner
{
    float: right;
    width: 710px;
    height: 500px;
}
#last2
{
    width: 100%;
    height: 300px;
}
#last_button
{
    padding: 20px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}









